<!DOCTYPE html>
<html>
<head>
  <title>Gettingrailed</title>
  <%= stylesheet_link_tag    'getting_railed', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'getting_railed', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
